<h1>Listado de Salarios</h1>

<hr>

<div *ngIf="isError" class="alert alert-warning mt-3">
    <span>
        <h5 class="alert-heading"> <i class="fa fa-exclamation"></i> {{ message }}</h5>
    </span>
</div>

<div class="row">
    <div class="col">
        <div class="form-group row">
            <label class="col-sm-2 pt-2">Código del empleado: </label>
            <div class="input-group col-sm-4">
                <input [(ngModel)]="employeeCode" name="employeeCode" type="text" class="form-control"
                    (keyup.enter)="getSalariesByEmployeeCode()">
                <div class="input-group-append">
                    <button (click)="getSalariesByEmployeeCode()" class="btn btn-primary">
                        <i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>
            
            <label *ngIf="infoBonus !== ''" class="col-sm-4 pt-2 badge badge-success">{{ infoBonus }}</label>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="pt-2">Oficina:</label>
                <select name="officeId" [(ngModel)]="officeId" class="form-control">
                    <option value="0">Todos</option>
                    <option [value]="item.id" *ngFor="let item of offices">{{ item.name }}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label class="pt-2">Grado:</label>
                <div class="input-group">
                    <input [(ngModel)]="gradeOfficeId" name="gradeOfficeId" type="text" class="form-control">
                    <div class="input-group-append">
                        <button (click)="getSalariesByFilters('o')" class="btn btn-primary">
                            <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="pt-2">Puesto:</label>
                <select name="positionId" [(ngModel)]="positionId" class="form-control">
                    <option value="0">Todos</option>
                    <option [value]="item.id" *ngFor="let item of positions">{{ item.name }}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label class="pt-2">Grado:</label>
                <div class="input-group">
                    <input [(ngModel)]="gradePositionId" name="gradePositionId" type="text" class="form-control">
                    <div class="input-group-append">
                        <button (click)="getSalariesByFilters('p')" class="btn btn-primary">
                            <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-info" (click)="getSalary()">
            <i class="fa fa-refresh"></i> Cargar todo
        </button>
    </div>
</div>


<table class="table table-hover mt-4">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Código del empleado</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">División</th>
            <th scope="col">Posición</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Cumpleaños</th>
            <th scope="col">Número de Identificación</th>
            <th scope="col">Salario Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of salaries; let i = index">
            <td scope="row">{{ i + 1 }}</td>
            <td>{{ item.employeeCode }}</td>
            <td>{{ item.employeeFullName }}</td>
            <td>{{ item.division }}</td>
            <td>{{ item.position }}</td>
            <td>{{ item.beginDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.birthday | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.identificationNumber }}</td>
            <td>{{ item.totalSalary | number : '1.2-2' }}</td>
        </tr>
    </tbody>
</table>