<h1>Registrar Salarios</h1>

<hr>

<div *ngIf="message.length > 0" class="alert alert-warning mt-3"
    [ngClass]="{'alert-warning': !isSuccess, 
                 'alert-success': isSuccess}">
    <span>
        <h5 class="alert-heading"> <i class="fa fa-exclamation"></i> {{ message }}</h5>
    </span>
</div>

<div *ngIf="errorsMessages.length > 0" class="alert alert-warning mt-3">
    <span *ngFor="let item of errorsMessages; let i = index">
        <h5 class="alert-heading"> {{ item }}</h5>
    </span>
</div>

<div class="row">
    <div class="col text-left">
        <button class="btn btn-primary" (click)="addSalary()">
            <i class="fa fa-plus"></i> Agregar
        </button>
    </div>

    <div class="col text-right">
        <button class="btn btn-success" (click)="saveSalaries()">
            <i class="fa fa-save"></i> Guardar
        </button>
    </div>
</div>

<table class="table table-hover table-responsive mt-4">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Año</th>
            <th scope="col">Mes</th>
            <th scope="col">Código del empleado</th>
            <th scope="col">Nombre del empleado</th>
            <th scope="col">Apellido del empleado</th>
            <th scope="col">Oficina</th>
            <th scope="col">División</th>
            <th scope="col">Puesto</th>
            <th scope="col">Grado</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Cumpleaños</th>
            <th scope="col">Número de Identificación</th>
            <th scope="col">Salario base</th>
            <th scope="col">Bono de producción</th>
            <th scope="col">Bono de compensación</th>
            <th scope="col">Comisión</th>
            <th scope="col">Contribución</th>
            <th scope="col">Opción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of salaries; let i = index">
            <td scope="row">{{ i + 1 }}</td>
            <td>
                <select class="form-control w-100" [(ngModel)]="item.year" name="year{{ i + 1 }}">
                    <option [value]="item" *ngFor="let item of years">{{ item }}</option>
                </select>
            </td>
            <td>
                <select class="form-control w-100" [(ngModel)]="item.month" name="month{{ i + 1 }}">
                    <option [value]="item.id" *ngFor="let item of months">{{ item.name }}</option>
                </select>
            </td>
            <td><input class="form-control w-100" [(ngModel)]="item.employeeCode"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.employeeName"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.employeeSurname"></td>
            <td>
                <select class="form-control w-100" [(ngModel)]="item.officeId" name="office{{ i + 1 }}">
                    <option [value]="item.id" *ngFor="let item of offices">{{ item.name }}</option>
                </select>
            </td>
            <td>
                <select class="form-control w-100" [(ngModel)]="item.divisionId" name="division{{ i + 1 }}">
                    <option [value]="item.id" *ngFor="let item of divisiones">{{ item.name }}</option>
                </select>
            </td>
            <td>
                <select class="form-control w-100" [(ngModel)]="item.positionId" name="position{{ i + 1 }}">
                    <option [value]="item.id" *ngFor="let item of positions">{{ item.name }}</option>
                </select>
            </td>
            <td><input class="form-control w-100" [(ngModel)]="item.grade"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.beginDate"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.birthday"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.identificationNumber"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.baseSalary"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.productionBonus"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.compensationBonus"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.commission"></td>
            <td><input class="form-control w-100" [(ngModel)]="item.contributions"></td>
            <td><button class="btn btn-danger" (click)="removeRow(i)"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>